In [2]:
import pandas as pd

In [3]:
weather = pd.read_csv("https://milliams.com/courses/data_analysis_python/cetml1659on.txt", skiprows=4, delim_whitespace = True)
weather[weather < 0] = None
weather.tail()

      JAN  FEB  MAR   APR   MAY   JUN   JUL   AUG   SEP   OCT  NOV  DEC   YEAR
2016  5.4  4.9  5.8   7.5  12.5  15.2  16.9  17.0  16.0  10.9  5.6  6.0  10.34
2017  4.0  6.1  8.7   8.9  13.2  16.0  16.8  15.6  13.5  12.4  6.8  4.8  10.58
2018  5.3  2.9  4.9   9.8  13.2  16.1  19.1  16.6  13.7  10.6  8.3  6.9  10.68
2019  4.0  6.7  7.8   9.1  11.1  14.2  17.5  17.1  14.3  10.0  6.2  5.8  10.34
2020  6.4  6.3  6.7  10.4  12.5  15.3  15.7   NaN   NaN   NaN  NaN  NaN    NaN

In [4]:
print((weather["YEAR"].max() + weather["YEAR"].min())/2)

8.905

In [5]:
weather["YEAR"] = pd.cut(weather["YEAR"], 2, labels = ["High","Low"])

In [6]:
weather

      JAN  FEB  MAR   APR   MAY   JUN   JUL   AUG   SEP   OCT  NOV  DEC  YEAR
1659  3.0  4.0  6.0   7.0  11.0  13.0  16.0  16.0  13.0  10.0  5.0  2.0  High
1660  0.0  4.0  6.0   9.0  11.0  14.0  15.0  16.0  13.0  10.0  6.0  5.0   Low
1661  5.0  5.0  6.0   8.0  11.0  14.0  15.0  15.0  13.0  11.0  8.0  6.0   Low
1662  5.0  6.0  6.0   8.0  11.0  15.0  15.0  15.0  13.0  11.0  6.0  3.0   Low
1663  1.0  1.0  5.0   7.0  10.0  14.0  15.0  15.0  13.0  10.0  7.0  5.0  High
...   ...  ...  ...   ...   ...   ...   ...   ...   ...   ...  ...  ...   ...
2016  5.4  4.9  5.8   7.5  12.5  15.2  16.9  17.0  16.0  10.9  5.6  6.0   Low
2017  4.0  6.1  8.7   8.9  13.2  16.0  16.8  15.6  13.5  12.4  6.8  4.8   Low
2018  5.3  2.9  4.9   9.8  13.2  16.1  19.1  16.6  13.7  10.6  8.3  6.9   Low
2019  4.0  6.7  7.8   9.1  11.1  14.2  17.5  17.1  14.3  10.0  6.2  5.8   Low
2020  6.4  6.3  6.7  10.4  12.5  15.3  15.7   NaN   NaN   NaN  NaN  NaN   NaN

[362 rows x 13 columns]

In [7]:
from numpy import random

In [8]:
div = random.uniform(0,1,len(weather))
Div = []
for x in div :
    if x < 0.75 :
        Div.append(False)
    else :
        Div.append(True)
weather["Devider"] = Div

In [9]:
Train, test = weather[weather["Devider"] == False], weather[weather["Devider"] == True]

print(len(Train), len(test))

266 96

In [99]:
Train = Train.dropna()
datafeature = Train.columns[:13]
feature = Train.columns[:12]
Train = Train[datafeature]
Train

      JAN  FEB  MAR  APR   MAY   JUN   JUL   AUG   SEP   OCT  NOV  DEC  YEAR
1661  5.0  5.0  6.0  8.0  11.0  14.0  15.0  15.0  13.0  11.0  8.0  6.0   Low
1662  5.0  6.0  6.0  8.0  11.0  15.0  15.0  15.0  13.0  11.0  6.0  3.0   Low
1663  1.0  1.0  5.0  7.0  10.0  14.0  15.0  15.0  13.0  10.0  7.0  5.0  High
1665  1.0  1.0  5.0  7.0  10.0  14.0  16.0  15.0  13.0   9.0  6.0  2.0  High
1666  4.0  5.0  6.0  8.0  11.0  15.0  18.0  17.0  14.0  11.0  6.0  3.0   Low
...   ...  ...  ...  ...   ...   ...   ...   ...   ...   ...  ...  ...   ...
2012  5.4  3.8  8.3  7.2  11.7  13.5  15.5  16.6  13.0   9.7  6.8  4.8   Low
2015  4.4  4.0  6.4  9.0  10.8  14.0  15.9  15.9  12.6  11.0  9.5  9.7   Low
2016  5.4  4.9  5.8  7.5  12.5  15.2  16.9  17.0  16.0  10.9  5.6  6.0   Low
2017  4.0  6.1  8.7  8.9  13.2  16.0  16.8  15.6  13.5  12.4  6.8  4.8   Low
2019  4.0  6.7  7.8  9.1  11.1  14.2  17.5  17.1  14.3  10.0  6.2  5.8   Low

[246 rows x 13 columns]

In [9]:
from sklearn.ensemble import RandomForestClassifier

In [56]:
rfc = RandomForestClassifier(n_jobs = 2)
rfc.fit(Train[feature], Train["YEAR"])

RandomForestClassifier(n_jobs=2)

In [79]:
import numpy

In [86]:
test = test.dropna()

In [100]:
pred = rfc.predict(test[feature])
stupidtest = rfc.predict(Train[feature])

In [95]:
from sklearn.metrics import accuracy_score

In [102]:
score = accuracy_score(Train["YEAR"], stupidtest, normalize = True)
score

1.0